#tix {
  padding: 0 0 1em !important;
}

.tix_tickets_table {
  border: 1px solid lighten($lightest-blue, 7.5%);

  @include min($sm) {
    border: 0;
  }

	@include min($md) {
    margin: .5em 0 2em;
  }

	.tix-coupon-link {
		border-bottom: 1px solid $blue;
	}

}

.tix-attendee-form {
	th {
		border: 1px solid lighten($lightest-blue, 7.5%);
		border-bottom-width: 0;
		font-weight: 700;
	}
}

.tix-column-price {
  &:before {
    @extend %track-name;

    content: 'Prezzo';
  }
}

.tix-column-remaining {
  &:before {
    @extend %track-name;

    content: 'Rimanenti';
  }
}

.tix-column-quantity {
  &:before {
    @extend %track-name;

    content: 'Quantità';
  }
}