#main-menu-wrapper {
	background: $palette-purple-dark;
	left: 0;
	position: fixed;
  text-align: center;
	top:0;
	width: 100%;
	z-index: 1000;

  @include min($bml) {
		text-align: left;
  }

}

#main-menu {
  @include container;

  font-family: $sans-serif;
  font-size: .88em;
  letter-spacing: .07em;
  text-transform: uppercase;

  @include min($xs) {
    font-size: .7em;
  }

  .menu-toggle {

		color: $white;
		cursor: pointer;
		padding: .5em;
		&.toggled-on {
			border-bottom: 1px solid;
		}
		@include min($bml) {
    	display: none;
		}

  }

	.menu {
		@include max($bml) {
			max-height: 70vh;
			overflow-y: auto;
		}
	}

  .menu-header,
	.menu {

		@include min($bml) {
    	display: inline-block;
    	vertical-align: middle;
		}

  }

	.menu,
	.menu.toggled-off {

		display: none;

		&.toggled-on {
			display: inline-block;
		}

		@include min($bml) {
			display: inline-block;
		}

	}

  .featured-button {
    @extend %button-featured;

		font-size: 1.2em;
    margin: 0;
    padding: .5em;

    @include min($xs) {
      margin-bottom: 0em;
    }

		@include max($bml) {
			width: 100%;
		}

    @include min($bml) {
    	float: right;
			font-size: 1em;
    	margin-bottom: 0;
			padding: .85em .9em;
    }

    @include min($lg) {
      margin-right: 0;
    }

		&:hover {
			background: $featured;
			border-color: $featured;
			color: $dark-gray;

			@include min($bml) {
				background: lighten($dark-gray, 10%);
				border-color: lighten($dark-gray, 10%);
				color: $white;
			}
		}

		&:focus {
			top: 0;
			left: 0;
		}

  }

  ul {

    li {

			border-bottom: 1px solid $white;
			font-weight: 600;
			padding: .4em 0 .4em 1em;
      position: relative;
			text-align: left;
      vertical-align: top;

			@include min($bml) {
				border-bottom: none;
				display: inline-block;
				font-weight: 400;
				padding: .5em 0;
			}

		&:last-child {
			border-bottom: none;
		}

  		&:hover {
			@include min($bml) {
    			background: lighten($palette-purple-dark, 10%);
			}
  		}
  		@include min($bml) {
  		  &.menu-item-has-children>a:after {
  		    position: relative;
  		    display: inline-block;
  		    border: .25rem solid transparent;
  		    margin-left: .5rem;
  		    vertical-align: middle;
  		    border-top-color: white;
  		    content: "";
  		  }
  		}
      a {
				border: 0;
				color: $white;
        display: block;
        padding: .5em 1.2em;
      }

      .sub-menu {

        min-width: 100%;

				@include min($bml) {
					background: lighten($palette-purple-dark, 10%);
					display: none;
					margin-top: .5em;
					position: absolute;
				}

        li {
					border-bottom: none;
          display: block;
          white-space: pre;

          &:hover {
						@include min($bml) {
		        	background: lighten($palette-purple-dark, 20%);
						}
          }
        }

      }

      &:hover {
        .sub-menu {
          @include min($bml) {
            display: block;
          }
        }
      }

    }
  }

  .search-form {
    @include span(3 last);
  }

}