/* Page Specific Styles */

body {

  &.home {

    .entry-title {
      position: static !important;
    }

    .entry-thumbnail {
      display: none;
    }

    #comments {
      display: none;
    }

  }

}


/* Page Content */

article.page {

  .entry-header {
    position: relative;
  }

  .entry-title {
    position: absolute;
    top: 0;
  }

  .entry-thumbnail {
    img {
      width: 100%;
    }
  }

  p {
    padding: 0 3em;
  }
	
}