/* Media Queries */

@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}


@mixin max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin retina($width) {
  @media
  (-webkit-min-device-pixel-ratio: 2) and (min-width: $width),
  (min-resolution: 192dpi) and (min-width: $width) {
    @content;
  }
}

@mixin border-radius($border) {
  -moz-border-radius: $border;
  -webkit-border-radius: $border;
  border-radius: $border;
}

@mixin firefox() {
  @-moz-document url-prefix() {
    @content;
  }
}


/* Custom Container */

@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

@mixin container--fluid {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;

  @include clearfix;

  @include min($md) {
    max-width: 920px;
  }

  @include min($lg) {
    max-width: 1180px;
  }
	
}
